/* Write your code here. */
.list-container {
  list-style-type: none;
  border: 2px solid #e4e7eb;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  flex-grow: 1;
}

.main-text-con {
  display: flex;
  justify-content: space-between;
}

.questionText {
  font-family: roboto;
  font-weight: 700;
  color: #52606d;
  font-size: 20px;
  padding-left: 20px;
}
.answerText {
  font-family: roboto;
  font-weight: 700;
  color: #9aa5b1;
  font-size: 16px;
  padding: 20px;
  max-width: 90%;
}

.btn {
  background: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.plus-minus-img {
  width: 80%;
}

.separator {
  border: 2px solid #e4e7eb;
  width: 96%;
}
